<img src="assets/Images/body/CASH BACK.jpg" alt="">
<div class="container">
  <div class="row justify-content-center">
    <div class="row row-cols-1 row-cols-md-2 g-4">
      <div class="col">
        <div class="card mb-4">
          <div class="position-relative">
            <img src="assets/Images/body/bedroom.jpg" class="card-img-top" alt="...">
            <button class="btn btn-custom position-absolute bottom-0 start-50 translate-middle-x mb-4"
              style="padding: 10px;">Bedroom</button>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card mb-4">
          <div class="position-relative">
            <img src="assets/Images/body/livingroom.jpg" class="card-img-top" alt="...">
            <button class="btn btn-custom position-absolute bottom-0 start-50 translate-middle-x mb-4"
              style="padding: 10px;">Living Room</button>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card mb-4">
          <div class="position-relative">
            <img src="assets/Images/body/outdoor.jpg" class="card-img-top" alt="...">
            <button class="btn btn-custom position-absolute bottom-0 start-50 translate-middle-x mb-4"
              style="padding: 10px;">Outdoor</button>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card mb-4">
          <div class="position-relative">
            <img src="assets/Images/body/diningroom.jpg" class="card-img-top" alt="...">
            <button class="btn btn-custom position-absolute bottom-0 start-50 translate-middle-x mb-4"
              style="padding: 10px;">Dining Room</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>


<div class="container">
  <div class="row justify-content-center">
    <div class="row row-cols-1 row-cols-md-3 g-4">
      <div class="col">
        <div class="card mb-4">
          <div class="position-relative">
            <img src="assets/Images/body/hammock_1_.jpg" class="card-img-top" alt="...">
            <button class="btn btn-custom position-absolute bottom-50 start-50 translate-middle-x mb-4"
              style="padding: 10px;">Shop Now</button>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card mb-4">
          <div class="position-relative">
            <img src="assets/Images/body/beanbag.jpg" class="card-img-top" alt="...">
            <button class="btn btn-custom position-absolute bottom-50 start-50 translate-middle-x mb-4"
              style="padding: 10px;">Shop Now</button>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card mb-4">
          <div class="position-relative">
            <img src="assets/Images/body/reclinerchair.jpg" class="card-img-top" alt="...">
            <button class="btn btn-custom position-absolute bottom-50 start-50 translate-middle-x mb-4"
              style="padding: 10px;">Shop Now</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>



<div class="center-text">
  Shop by item
</div>

<div class="button-container">
  <a href="#" class="button">Sofas</a>
  <a href="#" class="button">Beds</a>
  <a href="#" class="button">Wardrobes</a>
</div>


<div class="image-container">
  <div class="image-wrapper">
    <a href="#">
      <img src="assets/Images/body/Sofa3seaters.jpg" alt="">
    </a>
    <div class="caption">Sofa3seaters</div>
  </div>
  <div class="image-wrapper">
    <a href="#">
      <img src="assets/Images/body/U-shape.png" alt="">
    </a>
    <div class="caption">U-shape</div>
  </div>
  <div class="image-wrapper">
    <a href="#">
      <img src="assets/Images/body/Loveseat.png" alt="">
    </a>
    <div class="caption">LoveSeat</div>
  </div>
  <div class="image-wrapper">
    <a href="#">
      <img src="assets/Images/body/L-shape.jpg" alt="">
    </a>
    <div class="caption">L-shape</div>
  </div>
</div>


<img alt="This is default alt image" src="assets/Images/body/Kitchen.jpg" class="img-responsive">



<div class="container">
  <div class="row justify-content-center">
    <div class="col">
      <div class="image-wrapper">
        <img src="assets/Images/body/shoe_racks.jpg" class="centered-image" alt="Image 1">
        <button class="image-button">Shop Now</button>
      </div>
    </div>
    <div class="col">
      <div class="image-wrapper">
        <img src="assets/Images/body/tv.jpg" class="centered-image" alt="Image 1">
        <button class="image-button">Shop Now</button>
      </div>
    </div>
  </div>
</div>



<div class="center-text">
  New Arrivals
</div>



<div class="center-text">
  Follow us on Instagram
</div>