<header>
    <div class="start-icons">
        <a href="#"><i class="fa-sharp fa fa-phone"></i></a>
        <span>15135</span>
        <span class="icon-spacing"></span>
        <a href="#"><i class="fa fa-location-dot"></i></a>
        <span>Stories</span>
    </div>
    <div class="header-text">
        <span class="dropdown">
            Egypt
            <div class="dropdown-content">
                <a href="#">Oman</a>
            </div>
        </span>
        <span class="text-spacing"></span>
        <span class="dropdown">
            English
            <div class="dropdown-content">
                <a href="#">Arabic</a>
            </div>
        </span>
    </div>
</header>



<header>
    <div class="logo">
        <a href="#"><img src="./assets/Images/body/logo.png" alt="Logo"></a>
    </div>
    <nav>
        <ul class="menu">

            @for (item of categorySetsAndItemsTypesData; track $index) {
            <li class="dropdown">
                <a routerLink='/products/categories' [queryParams]="{ categoryId: item.id }">{{item.name |
                    capitalizeSpace}}</a>
                <ul class="dropdown-menu">

                    <li class="sub-dropdown">
                        <!-- Living Room Set -->
                        <a routerLink='/products/categories/sets' [queryParams]="{ categoryId: item.id }">{{item.name |
                            capitalizeSpace}}
                            set</a>

                        <ul class="dropdown-submenu">
                            <!-- Sets -->
                            @for (set of item.categorySetsTypes; track $index) {
                            <li><a href="#">{{set.name}}</a></li>
                            }
                        </ul>
                    </li>



                    <li class="sub-dropdown">
                        <!-- shop by item -->
                        <a routerLink='/products/categories/items' [queryParams]="{ categoryId: item.id }">Shop By
                            Item</a>
                        <ul class="dropdown-submenu">
                            @for (item of item.categoryItemsTypes; track $index) {
                            <li><a href="#">{{item.name}}</a></li>
                            }

                        </ul>
                    </li>




                </ul>
            </li>
            }
        </ul>
    </nav>
    <div class="icons">


        <a href="#"><i class="fa-solid fa-magnifying-glass"></i></a>
        <div class="dropdown">
            <a href="#"><i class="fa-regular fa-circle-user"></i></a>
            <div class="dropdown-content">
                <ul>
                    <li><a href="#">My Account</a></li>
                    <hr>
                    <li><a href="#">My Wish List</a></li>
                    <hr>
                    <li><a href="#">Create An Account</a></li>
                    <hr>
                    <li><a href="#">Sign IN</a></li>

                </ul>
            </div>
        </div>
        <a href="#"><i class="fa-regular fa-heart"></i></a>
        <a routerLink="/basket"><i class="fa-solid fa-cart-shopping"></i></a>
    </div>

</header>