<header>
    <div class="start-icons">
        <a href="#"><i class="fa-sharp fa fa-phone"></i></a>
        <span>15135</span>
        <span class="icon-spacing"></span>
        <a href="#"><i class="fa fa-location-dot"></i></a>
        <span>{{'header.stores' | translate}}</span>
    </div>
    <div class="header-text">
        <span class="dropdown">
            {{'header.egypt' | translate}}
            <div class="dropdown-content">
                <a href="#"></a>
            </div>
        </span>
        <span class="text-spacing"></span>
        <span class="dropdown">
            {{ 'header.' + (lang === 'en' ? 'english' : 'arabic') | translate }}
            <div class="dropdown-content">
                <span type="button" (click)="toggleLanguage('ar')" [style.display]="lang == 'ar' ? 'none' : 'block'"> {{'header.arabic' | translate}} </span>
                <span type="button" (click)="toggleLanguage('en')" [style.display]="lang == 'en' ? 'none' : 'block'"> {{'header.english' | translate}} </span>
            </div>
        </span>
    </div>
</header>



<header>
    <div class="logo" [style.display]="lang == 'ar' ? 'none' : 'block'">
        <a href="#"><img src="./assets/Images/body/logo.png" alt="Logo"></a>
    </div>
    <div class="logo">
        <a href="#" [style.display]="lang == 'en' ? 'none' : 'block'"><img src="./assets/Images/body/logo-Arabic.png" alt="Logo"></a>
    </div>
    <nav>
        <ul class="menu">

            @for (item of categorySetsAndItemsTypesData; track $index) {
            <li class="dropdown">
                <a routerLink='/products/categories/sets' [queryParams]="{ categoryId: item.id }">{{item.name |
                    capitalizeSpace}}</a>
                <ul class="dropdown-menu">

                    <li class="sub-dropdown">
                        <!-- Living Room Set -->
                        <a routerLink='/products/categories/sets' [queryParams]="{ categoryId: item.id }">{{item.name |
                            capitalizeSpace}}
                            {{'header.set' | translate}}</a>

                        <ul class="dropdown-submenu">
                            <!-- Sets -->
                            @for (set of item.categorySetsTypes; track $index) {
                            <li><a href="#">{{set.name}}</a></li>
                            }
                        </ul>
                    </li>



                    <li class="sub-dropdown">
                        <!-- shop by item -->
                        <a routerLink='/products/categories/items' [queryParams]="{ categoryId: item.id }">{{
                            'header.item' | translate
                        }}</a>
                        <ul class="dropdown-submenu">
                            @for (item of item.categoryItemsTypes; track $index) {
                            <li><a href="#">{{item.name}}</a></li>
                            }

                        </ul>
                    </li>




                </ul>
            </li>
            }
        </ul>
    </nav>
    <div class="icons">

        <i class="fa-solid fa-magnifying-glass" (click)="toggleSeachDisplay()"></i>
        <div class="dropdown">
            <a href="#"><i class="fa-regular fa-circle-user"></i></a>
            <div class="dropdown-content">
                <ul>
                    <li><a [routerLink]="['/account']">{{'header.myAccout' | translate}}</a></li>
                    <hr>
                    <li><a [routerLink]="['/checkout']">{{'header.wishList' | translate}}</a></li>
                    <hr>
                    <li><a [routerLink]="['/register']">{{'header.CreateAccount' | translate}}</a></li>
                    <hr>
                    <li><a [routerLink]="['/login']" [style.display]="!isUserLogged ? 'block' : 'none'"  >{{'header.signIn' | translate}}</a></li>
                    <li><a (click)="logout()" [style.display]="isUserLogged ? 'block' : 'none'" type="button">{{'header.logout' | translate}}</a></li>
                </ul>
            </div>
        </div>

        <a href="#"><i class="fa-regular fa-heart"></i></a>
        <a routerLink="/basket" class="position-relative">
            <i class="fa-solid fa-cart-shopping"></i>
            @if(isUserLogged){
            <span class="badge bg-info cart-count">{{basketCount}}</span>
            }
        </a>
    </div>
   
    
</header>

<div [style.display]="SeachBarDispaly? 'block' : 'none'">
    <app-search ></app-search>
</div>