.remove-border {
    border: 0;
}

.product-cart {
    position: relative;
    width: 13.4rem;
    margin-right: 5px;
}

.handle-link {
    text-decoration: none;
    color: #1A2854;
    font-size: 14px;
    font-weight: 500;
}

a:hover {
    color: #C0223A;
}

.img-container {
    width: inherit;
    height: inherit;
    position: relative;
    cursor: pointer;
    overflow: hidden;
}

.img-container:hover .options-on-img-container {
    visibility: visible;
}


.img-container .options-on-img-container {
    position: absolute;
    top: 0;
    left: 0;
    background: #CCCCCC;
    opacity: 0.8;
    width: 250px;
    height: 350px;
    visibility: hidden;
}

.img-container .options-on-img-container .love {
    position: absolute;
    width: 35px;
    top: 7%;
    left: 5%;
    cursor: pointer;
}

.img-container .options-on-img-container .love:hover {
    color: green;
}


.img-container img {
    width: inherit;
    padding: 0 5px;
    height: 280px;
    transition: 1.5s ease;
    /* border-radius: 10px; */
}

.img-container:hover img {
    scale: 1.3;
}

.cart-icon-container {
    background-color: #fff;
    width: 33px;
    height: 33px;
    border-radius: 50%;
    position: absolute;
    top: 58%;
    left: 78%;
}

.out-of-stock-container{
    background-color: #C0223A !important;
    color: #fff !important;
    font-size: 12px;
    position: absolute;
    top: 60%;
    left: 55%;
    user-select: none;
}

.cart-icon-container svg {
    width: 25px;
    height: 25px;
    position: absolute;
    top: 8%;
    left: 13%;
}

.sale-container,
.outOfSale-container {
    color: #fff;
    position: absolute;
    top: 3%;
    transition: all 0.1s;
}

.sale-container {
    background-color: #FE9931;
    padding: 3px 22px;
    left: 62%;
}

.outOfSale-container {
    background-color: #808080;
    padding: 3px 10px;
    position: absolute;
    left: 55%;
}

.outOfSale-container p {
    margin: 0;
    font-size: 13px;
}

.sale-container p {
    margin: 0;
    font-size: 13px;
}

.cart-icon-container:hover {
    background-color: #1a2854c6;
    color: #fff;
}
