*{
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

/*start headCategory */
.headCategory ul{

    list-style: none;
}

.headCategory ul li{
    float: left;
    margin-bottom: -1px;
    margin-right: 25px;
    padding: 0 0 15px;
    position: relative;
    display: block;
    
}
.headCategory ul li a{
    padding: 3px 0;
    font-size: 15px;
    color: #a3a3a3;
    font-weight: 600;
    text-decoration: none;
    font-family: "Poppins" !important ;
}
.headCategory ul li a:focus{
    cursor: default;
}
.headCategory ul li a.checked::before {
    height: 2px;
    width: 60px;
    content: "";
    position: absolute;
    bottom: 0;
    background-color: #1a2854;
    left: 0;  
}
.headCategory ul li a:hover{
    color: #c02234 !important;
}
.headCategory ul li a.checked{
    color: #0e0c0c;
}
/*End headCategory */
/*start childCategory */
.childCategory ul{

    list-style: none;
}

.childCategory ul li a{
display: inline-block;
padding: 10px 25px;
border: 1px solid #1a2854;
color: #1a2854;
text-align: center;
line-height: 40px;
font-size: 16px;
border-radius: 40px;

margin: 0 5px 10px 0;
line-height: 20px;
white-space: nowrap;
text-decoration: none;
font-family: "Poppins" !important ;
}
.childCategory ul li a:hover{
    cursor: pointer;
    color: #fff;
    background-color:#1a2854;
}
/*End childCategory */
