<div class="container d-flex justify-content-center">
  <div class="row">
    <div class="col-sm-6">
      <form [formGroup]="signupForm" (ngSubmit)="onSubmit()">
        <h4>Create an account</h4>
        <div class="alert alert-danger" role="alert" [style.display]="errorMessage.length == 0 ? 'none' : 'block'">
          {{ errorMessage }}
        </div> 
        <!-- Personal Information Section -->
        <h5 class="personal">Personal Information*</h5>
        <div class="form-group">
          <input type="text" id="first-name" placeholder="First Name" formControlName="firstName">
          <div *ngIf="signupForm.get('firstName')?.invalid && signupForm.get('firstName')?.touched">
            <small class="text-danger">First Name is required.</small>
          </div>
        </div>
        <div class="form-group">
          <input type="text" id="last-name" placeholder="Last Name" formControlName="lastName">
          <div *ngIf="signupForm.get('lastName')?.invalid && signupForm.get('lastName')?.touched">
            <small class="text-danger">Last Name is required.</small>
          </div>
        </div>
        <!-- Email and Password Section -->
        <h5 class="email">Sign-in Information*</h5>
        <div class="form-group">
          <input type="email" id="new-email" placeholder="Email Address*" formControlName="newEmail">
          <div *ngIf="signupForm.get('newEmail')?.invalid && signupForm.get('newEmail')?.touched">
            <small class="text-danger">Please enter a valid email address.</small>
          </div>
        </div>
        <div class="form-group"> 
          <input type="password" id="new-password" placeholder="Password*" formControlName="newPassword">
          <div *ngIf="signupForm.get('newPassword')?.invalid && signupForm.get('newPassword')?.touched">
            <small class="text-danger">
              <ul>
                <li>At least 6 characters long.</li>
                <li>At least one uppercase letter</li>
                <li>At least one lowercase letter</li>
                <li>At least one number</li>
                <li>At least one special character</li>
            </ul>
            </small>
          </div>
        </div>
        <div class="form-group">
          <input type="password" id="confirm-password" placeholder="Confirm Password*" formControlName="confirmPassword">
          <div *ngIf="signupForm.get('confirmPassword')?.invalid && signupForm.get('confirmPassword')?.touched">
            <small class="text-danger">Passwords must match.</small>
          </div>
        </div>
        <!-- Remember Checkbox -->
        <!-- Back Button -->
        <div class="form-group d-flex justify-content-between">
          <button type="button" (click)="goBack()">Back</button>
          <!-- Submit Button -->
          <button type="submit">Create Account</button>
        </div>
      </form>
    </div>
  </div>
</div>
