<div class="container d-flex justify-content-center">
  <div class="row">
    <div class="col-sm-6">
      <form #signUpForm="ngForm" (ngSubmit)="onSubmit()">
        <h4>Create an account</h4>
        <!-- Personal Information Section -->
        <h5 class="personal">Personal Information*</h5>
        <div class="form-group">
          
          <input type="text" id="first-name" placeholder="First Name" name="firstName" [(ngModel)]="firstName" required>
        </div>
        <div class="form-group">
          
          <input type="text" id="last-name" placeholder="Last Name" name="lastName" [(ngModel)]="lastName" required>
        </div>
        <div class="form-group1">
          <input type="checkbox" id="remember" name="remember">
          <label for="remember">Sign Up for Newsletter</label>
        </div>
        <div class="form-group2">
          <input type="checkbox" id="remember" name="remember">
          <label for="remember">Allow remote shopping assistance
            .</label>
        </div>
       
        <h5 class="email">Sign-in Information*</h5>
        <div class="form-group">
          
          <input type="email" id="new-email" placeholder="Email Address* "   name="newEmail" [(ngModel)]="newEmail" required #newEmailField="ngModel" email>
          <div *ngIf="newEmailField.errors?.['required']" class="error-message">Email is required.</div>
          <div *ngIf="newEmailField.errors?.['email']" class="error-message">Please enter a valid email address.</div>
        </div>
        <p>Password Strength: No Password</p>
        <div class="form-group">
          
          <input type="password" id="new-password" placeholder="Password*" name="newPassword" [(ngModel)]="newPassword" required minlength="6">
          <div *ngIf="signUpForm.errors?.['minlength']" class="error-message">Password must be at least 6 characters.</div>
        </div>
        <div class="form-group">
          
          <input type="password" id="confirm-password" placeholder="Confirm Password*" name="confirmPassword" [(ngModel)]="confirmPassword" required minlength="6" [appEqualTo]="newPassword">
          <div *ngIf="signUpForm.errors?.['equalTo']" class="error-message">Passwords do not match.</div>
        </div>
        <!-- Remember Checkbox -->
        <div class="form-group1">
          <input type="checkbox" id="remember" name="remember">
          <label for="remember">Remember</label>
        </div>
        <div class="form-group2">
          <input type="checkbox" id="remember" name="remember">
          <label for="remember">By using this form you agree with the storage and handling of your data by this website.</label>
        </div>
        <!-- Back Button -->
        <div class="form-group d-flex justify-content-between">
        <button type="button" (click)="goBack() ">Back</button>
        <!-- Submit Button -->
       
        <button type="submit" [disabled]="signUpForm.invalid">Create Account</button></div>
      
      </form>
    </div>
  </div>
</div>
