.scrollable-tabs-container {
    border-radius: 4px;
    overflow: hidden;
    position: relative;
}

.scrollable-tabs-container svg {
    width: 35px;
    height: 35px;
    padding: 8px;
    cursor: pointer;
    color: #fff;
    border-radius: 50%;
}

.scrollable-tabs-container ul {
    display: flex;
    gap: 16px;
    padding: 12px 24px 0px;
    list-style-type: none;
    overflow-x: scroll;
    -ms-overflow-stylee: none;
    scrollbar-width: none;
    scroll-behavior: smooth;
}

.scrollable-tabs-container ul::-webkit-scrollbar {
    display: none;
}

.scrollable-tabs-container a {
    color: white;
    text-decoration: none;
    color: #1A2854;
    border: 1px solid #1A2854;
    padding: 7px 30px;
    display: inline-block;
    border-radius: 18px;
    user-select: none;
    white-space: nowrap;
    font-size: 18px;
}

.scrollable-tabs-container .left-arrow,
.scrollable-tabs-container .right-arrow {
    position: absolute;
    height: 100%;
    width: 100px;
    top: 0;
    display: none;
    align-items: center;
    padding: 0 10px;
}

.scrollable-tabs-container .right-arrow.active,
.scrollable-tabs-container .left-arrow.active {
    display: flex;
}

.scrollable-tabs-container .right-arrow {
    right: 0;
    justify-content: flex-end;
}

.scrollable-tabs-container svg:hover {
    background: #333;
}

.scrollable-tabs-container svg {
    background: #9999999b;
}

.scrollable-tabs-container a.active {
    background-color: #1A2854;
    color: #fff;
}

.scrollable-tabs-container a:hover {
    background-color: #1A2854;
    color: #fff;
}

.shop-by-select-container ul {
    display: flex;
    gap: 16px;
    margin-bottom: 7px;
    list-style-type: none;
}

.shop-by-select-container ul a {
    text-decoration: none;
    color: #999;
    font-size: 15px;
    font-weight: 500;
}

.shop-by-select-container ul a:hover {
    color: #C0223A;
}

.shop-by-select-container ul a.select {
    border-bottom: 2px solid #1A2854;
    color: #1A2854;
    padding-bottom: 3px;
}