body {
  font-family: Arial, sans-serif;
  color: #20284f;
  display: grid;
  grid-template-columns: auto 1fr;
  margin: 0; 
}

.sidebar {
  min-height: 100vh; 
  /* padding: 0 5rem ;  */
  width:30%; 
  /* margin-top: 10rem; */
}

.account-navigation h2 {
  margin-top: 2rem;
  font-size: 1.2rem; 
}

.account-navigation h2 span {
  border-bottom: 3px solid;
  padding-bottom: 2px;
}
 .Address-Book{
    border-left: 2px solid brown ;
    padding-left: 4px ;
}

.account-navigation ul {
  list-style-type: none;
  padding: 0;
}

.account-navigation ul li a {
  text-decoration: none;
  color: #20284f;
  font-size: 1rem; 
  

}
.account-navigation ul li {
  margin-bottom: 2rem; 
}


.account-navigation2 {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 3rem; 
  padding:5rem; 
  margin-top: 10rem;
}

.section {
  margin: 0; 
}

.section h2 {
  font-size: 1.2rem; 
}

button{
    border-radius: 2rem;
    width: 10rem;
    height: 3rem;
    font-size: large;
    background-color: #20284f;
    color: white;
    margin-right: 8.3rem;
    border: #20284f;
    
    
}
.container{
  display: flex;
}
input,option{
  margin-bottom: 1rem;
  /* border-radius: 1rem; */
  height: 2rem;
  width: 30rem;
}
.Street-city,.Zip-country{
  display: flex;
}
#street,#city ,#zip , #country{
  width: 30rem;
 margin: .5rem;
}
/* #country{
  height: 2rem;
  width: 10rem;
} */


.Street-city,
.Zip-country {
    display: grid;
    grid-template-columns: 1fr; 
    gap: 1rem; 
    margin-bottom: 1rem; 
}


.Street-city input,
.Zip-country input,
.Zip-country select {
    width: 100%;
}

.Zip-country select {
    height: 2rem;
}



@media screen and (max-width: 768px) {
  .container {
    flex-direction: column;
  }

  .sidebar {
    width: 100%; 
  }

  .account-navigation2 {
    width: 100%; 
    
  }
  button{
    margin-bottom: 1rem;
  }
}

.main-content{
  width: 70%;
padding-top: 50px;
}