
body {
    font-family: Arial, sans-serif;
    color: #20284f;
    display: flex; 
  }

  .sidebar {
    width: 30%;
    max-width: 300px;
    padding: 5%;
    overflow-y: auto;
  }

  .account-navigation h2 {
    margin-top: 0;
    font-size: large;
    position: relative;
  }

  .account-navigation h2 span {
    border-bottom: 3px solid;
    padding-bottom: 2px;
  }

  .account-navigation ul {
    list-style-type: none;
    padding: 0;
  }

  .account-navigation ul li a {
    text-decoration: none;
    color: #20284f;
    font-size: medium;
  }

  @media only screen and (min-width: 768px) {
    .account-navigation h2 {
      margin-bottom: 15%; 
      margin-top: 15%;
    }

    .account-navigation ul li {
      margin-bottom: 5%; 
    }
  }


      .container {
          max-width: 600px;
          margin: 20px auto;
          padding: 20px;
          background-color: #fff;
          border-radius: 8px;
          margin-top: 6rem;
        
      }
      h2 {
          margin-top: 0;
      }
      label {
          font-weight: bold;
      }
      input, select {
          width: 100%;
          padding: 8px;
          margin-bottom: 10px;
          border: 1px solid #ccc;
          border-radius: 4px;
          box-sizing: border-box;
      }
      .address-field {
          display: grid;
          grid-template-columns: repeat(2, 1fr);
          gap: 10px;
      }
      .button-container button {
    padding: 10px 20px;
    font-size: medium;
    margin-top: 1rem;
    border-radius: 2rem;
    color: white;
    background-color: #20284f;
    width: 10rem;
    border: #20284f;
  }
  .Address-Book{
  border-left: 2px solid brown ;
  padding-left: 4px ;
}