<link rel="stylesheet" href="./sign-in.component.css">

<div class="container">
  <div class="row">
    <div class="col-sm-6">
     
      <form #signInForm="ngForm" (ngSubmit)="onSubmit(signInForm)">
        <div class="alert alert-danger" role="alert" [style.display]="errorMessage.length == 0 ? 'none' : 'block'">
          {{ errorMessage }}
        </div>  
        <h4 class="title">{{'login.formTitle' | translate}}</h4>
        <p>{{'login.formParagraph' | translate}}</p>
        <div class="form-group">
          <input type="email" id="email" name="email" [(ngModel)]="email" required #emailField="ngModel" email [placeholder]="'login.emailPlaceholder' | translate">
          <div *ngIf="emailField.touched && emailField.errors?.['required']" class="error">{{'login.required' | translate}}</div>
          <div *ngIf="emailField.errors?.['email']" class="error">{{'login.emailValidation' | translate}}</div>
        </div>        

        <div class="form-group">
          <input type="password" id="password" name="password" [(ngModel)]="password" #passwordField="ngModel" required  [placeholder]="'login.passwordPlaceholder' | translate">
          <div *ngIf="passwordField.touched && passwordField.errors?.['required']" class="error">{{'login.required' | translate}}</div>
        </div>

        <div class="form-group">
          <input type="checkbox" id="remember-me" name="remember-me" [(ngModel)]="rememberMe">
          <label for="remember-me">{{'login.RememberMe' | translate}}</label>
        </div>

        <div class="form-group">
          <input type="checkbox" id="agree" name="agree" required [(ngModel)]="agree" #agreeField="ngModel">
          <label for="agree">{{'login.agreeCheckBox' | translate}}</label>
          <div *ngIf="submit && agreeField.errors?.['required']" class="error">{{'login.required' | translate}}</div>

        </div>

        <button type="submit" >{{'login.signIn' | translate}}</button>
        <a href="#">{{'login.passwordForget' | translate}} </a>
      </form>
    </div>

    <div class="col-sm-6">
      <div class="create-account">
        <h4 class = "title">{{'login.RegisterTitle' | translate}}</h4>
        <p>{{'login.RegisterParagraph' | translate}}</p>
        <button type="submit" (click)="navihateToRegister()">{{'login.registerButton' | translate}}</button>
      </div>
    </div>
  </div>
</div>