.review-container {
    width: 50%;
    margin: 0 auto;
    display: flex;
    justify-content: flex-end;
    padding-right: 100px; 
}


  .review-form {
    background-color: white;
    padding: 20px;
    border-radius: 5px;
    color: #20284f;
  }
  
  .form-group {
    margin-bottom: 15px;
  }
  
  label {
    display: block;
    font-weight: bold;
  }
  
  input[type="text"],
  textarea {
    width: 100%;
    padding: 8px;
    border: .1px solid #ccc;
    border-radius: 4px;
  }
  
  input[type="checkbox"] {
    margin-right: 5px;
  }
  
  button {
    background-color:#20284f;
    color: #fff;
    border: none;
    border-radius: 4px;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 20px;
  }
  
  .error {
    color: red;
    font-size: 0.9rem;
  }
  