<link rel="stylesheet" href="./my-account.component.css">
<div class="sidebar">
    <div class="account-navigation">
      <h1><span>Account</span> Navigation</h1>
      <ul>
        <div>
        <li><a href="#" class="My-account">My Account</a></li></div>
        <div><li><a href="#">My Orders</a></li></div>
       <div> <li><a href="#">My Wish List</a></li></div>
       <div> <li><a href="#">Address Book</a></li></div>
       <div> <li><a href="#">Account Information</a></li></div>
       <div> <li><a href="#">GDPR</a></li></div>
       <div> <li><a href="#">My Product Reviews</a></li></div>
       <div> <li><a href="#">Newsletter Subscriptions</a></li></div>
      </ul>
      <h1><span>Compare</span> Products</h1>
      <p>You have no items to compare.</p>
      <h1><span>My Wish</span> List</h1>
      <p>You have no items in your wish list.</p>
    </div>
  </div>

  <div class="account-navigation2">
    <div class="section">
      <h1>Contact Information</h1>
      <p>Name: Fahd Mohamed</p>
      <p>Email: fahdeldowy1 gmail.com</p>
      <button>Change Address</button>
      <button>Edit</button>
    </div>

    <div class="section">
      <h1>Newsletters</h1>
      <p>You don't subscribe to our newsletter.</p>
      <button>Change Address</button>
      <button>Edit</button>
    </div>

    <div class="section">
      <h1>Address Book</h1>
      <p>Default Billing Address: You have not set a default billing address.</p>
      <p>Default Shipping Address: You have not set a default shipping address.</p>
      <button>Edit Addresses</button>
      <button>Manage Address</button>
    </div>
    <div class="section">
      <h3>Default Shipping Address.</h3>
      <p>You have not set a default shipping address..</p>
      <button>Edit Addresses</button>
    </div>
  </div>
