<button class="show-options-icon" mat-icon-button *ngIf="sidenav.mode === 'over'" (click)="sidenav.toggle()">
    <mat-icon *ngIf="!sidenav.opened"> menu </mat-icon>
    <mat-icon *ngIf="sidenav.opened"> close </mat-icon>
</button>
<mat-sidenav #sidenav="matSidenav" mode="side" opened>
    <mat-drawer-container>
        <mat-drawer #drawer opened="true" mode="side" position="start" style="width: 320px;">
            <mat-nav-list>
                <button class="show-options-icon close-sidenav" mat-icon-button *ngIf="sidenav.opened"
                    (click)="sidenav.toggle()">
                    <mat-icon>close</mat-icon>
                </button>

                <div class="title-container">
                    <span class="title"
                    >{{'shoppingOptions.shoppingOptions' | translate}}</span>
                </div>
                <!-- category section  -->
                <div class="title-container" (click)="toggleCategories()">
                    <span class="title">{{'shoppingOptions.Categories' | translate}}
                        <mat-icon class="mat-icon-rtl-mirror">
                            {{isCategoryExpanded ? 'expand_less' : 'expand_more'}}
                        </mat-icon>
                    </span>
                </div>
                <div class="filter-options" [style.display]="isCategoryExpanded ? 'block' : 'none'">
                    <div [style.display]="categoryOptionsDisplay ? 'block' : 'none'">
                        <div class="list-item">
                            <span type="button" (click)="selectOption('sets')">{{'shopBy.ShopbySet' | translate}}</span>
                        </div>
                        <div class="list-item">
                            <span type="button" (click)="selectOption('items')">{{'shopBy.ShopbyItem' | translate}}</span>
                        </div>
                    </div>

                    <div *ngIf="SetsTypesDisplay" class="filter-options">
                        <div *ngFor="let set of categorySetsTypesData" class="list-item">
                            <span type="button"(click)="selectType(set.id)">{{ set.name }} </span>
                        </div>
                    </div>

                    <div *ngIf="ItemsTypesDisplay" class="filter-options">
                        <div *ngFor="let item of categoryItemsTypesData" class="list-item">
                            <span type="button" (click)="selectType(item.id)">{{ item.name}}</span>
                        </div>
                    </div>

                </div>
                <!-- price section  -->
                <div class="title-container filter-section" (click)="togglePrice()">
                    <span class="title">{{'shoppingOptions.Price' | translate}}
                        <mat-icon class="mat-icon-rtl-mirror">
                            {{isPriceExpanded ? 'expand_less' : 'expand_more'}}
                        </mat-icon>
                    </span>
                </div>
                <div class="filter-options" [style.display]="isPriceExpanded ? 'block' : 'none'">
                    <div class="price-container">
                        <span class="price-bedge badge">{{startValue | currency: 'EGP' : 'symbol':'1.0-0'}}</span>
                        <span class="price-bedge badge right-price">{{endValue | currency: 'EGP':
                            'symbol':'1.0-0'}}</span>
                    </div>
                    <div class="silder-container">
                        <mat-slider class="custom-slider" [min]="minPrice" [max]="maxPrice">
                            <input [(ngModel)]="startValue" matSliderStartThumb>
                            <input [(ngModel)]="endValue" matSliderEndThumb>
                        </mat-slider>
                        <button class=" go-badge translate-middle badge rounded-pill" (click)="selectPrice()">{{'shoppingOptions.Go' | translate}}</button>
                    </div>
                </div>
                <!-- color section  -->
                <div class="title-container filter-section" (click)="toggleColor()">
                    <span class="title">{{'shoppingOptions.Color' | translate}}
                        <mat-icon class="mat-icon-rtl-mirror">
                            {{isColorExpanded ? 'expand_less' : 'expand_more'}}
                        </mat-icon>
                    </span>
                </div>

                <div class="filter-options" [style.display]="isColorExpanded ? 'block' : 'none'">
                    <div class="color-container">
                        @for (color of colors; track $index) {
                        <button class="color-badge badge rounded-circle" [ngStyle]="{'background-color': color}"
                        (click)="selectColor(color)">
                            <span class="visually-hidden">color badge</span>
                        </button>
                        }
                    </div>
                </div>

            </mat-nav-list>
        </mat-drawer>
        <mat-drawer-content>
            <div style="text-align: center; min-height: 1000px;">
                <router-outlet></router-outlet>
            </div>
        </mat-drawer-content>
    </mat-drawer-container>
</mat-sidenav>