<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Responsive Multi-Dropdown Header</title>
    <link rel="stylesheet" href="header.component.css">
</head>
<body>
<header>
    <div class="start-icons">
        <a href="#"><i class="fa-sharp fa fa-phone"></i></a>
        <span>15135</span>
        <span class="icon-spacing"></span>
        <a href="#"><i class="fa fa-location-dot"></i></a>
        <span>Stories</span>
    </div>
    <div class="header-text">
        <span class="dropdown">
            Egypt
            <div class="dropdown-content">
                <a href="#">Oman</a>
            </div>
        </span>
        <span class="text-spacing"></span>
        <span class="dropdown">
            English
            <div class="dropdown-content">
                <a href="#">Arabic</a>
            </div>
        </span>
    </div>
</header>



<header>
    <div class="logo">
        <a href="#"><img src="assets/logo.png" alt="Logo"></a>
    </div>
    <nav>
        <ul class="menu">
            <li class="dropdown">
                <a href="#">Living Room</a>
                <ul class="dropdown-menu">
                    <li class="sub-dropdown">
                        <a href="#">Living Room Set</a>
                        <ul class="dropdown-submenu">
                            <li><a href="#">Sofa set</a></li>
                            <li><a href="#">U-Shape</a></li>
                            <li><a href="#">L-Shape</a></li>
                            <li><a href="#">ReclinerSofa sets  </a></li>
                            <li><a href="#">Tv Tables</a></li>
                        </ul>
                    </li>
                    <li class="sub-dropdown">
                        <a href="#">Shop By Item</a>
                        <ul class="dropdown-submenu">
                            <li><a href="#">Recliner Chair</a></li>
                            <li><a href="#">Sofa 3 Seaters</a></li>
                            <li><a href="#">LoveSeat</a></li>
                            <li><a href="#">Shoe rack</a></li>
                            <li><a href="#">Coffee table</a></li>
                            <li><a href="#">Side table</a></li>
                            <li><a href="#">Message Chairs</a></li>
                        </ul>
                    </li>
                 
                </ul>
            </li>
            <li class="dropdown">
                <a href="#">bedroom</a>
                <ul class="dropdown-menu">
                    <li class="sub-dropdown">
                        <a href="#">Bedroom Set </a>
                        <ul class="dropdown-submenu">
                            <li><a href="#">King Bedroom Set</a></li>
                            <li><a href="#">King Bedroom Set</a></li>
                            <li><a href="#">Youth Bedrooms </a></li>
                            <li><a href="#">Kids Bedrooms</a></li>
                        </ul>
                    </li>
                    <li class="sub-dropdown">
                        <a href="#">Shop By item</a>
                        <ul class="dropdown-submenu">
                            <li><a href="#">King Bed</a></li>
                            <li><a href="#">Queen Bed</a></li>
                            <li><a href="#">Youth Beds</a></li>
                            <li><a href="#">Bunk Bed</a></li>
                            <li><a href="#">Wardrobe</a></li>
                            <li><a href="#">Nights Stand</a></li>
                            <li><a href="#">Dresser</a></li>
                            <li><a href="#">Study Disk</a></li>
                        </ul>
                    </li>
                 
                </ul>
            </li>
            <li class="dropdown">
                <a href="#">Dining Room</a>
                <ul class="dropdown-menu">
                    <li class="sub-dropdown">
                        <a href="#">Dining Room sets</a>
                        <ul class="dropdown-submenu">
                            <li><a href="#">Complete Dining Room sets</a></li>
                            <li><a href="#">Dining Table with 8 chairs</a></li>
                            <li><a href="#">Dining Table with 6 chairs</a></li>
                            <li><a href="#">Dining Table with 4 chairs</a></li>
                        </ul>
                    </li>
                    <li class="sub-dropdown">
                        <a href="#">shop by item</a>
                        <ul class="dropdown-submenu">
                            <li><a href="#">Dining table</a></li>
                            <li><a href="#">Dining chair</a></li>
                            <li><a href="#">Dining Bench</a></li>
                            <li><a href="#">Display unit</a></li>
                            <li><a href="#">Buffet</a></li>
                        </ul>
                    </li>
                 
                </ul>
            </li>
            <li class="dropdown">
                <a href="#">Garden Furniture</a>
                <ul class="dropdown-menu">
                    <li class="sub-dropdown">
                        <a href="#">Outdoor sofa set</a>
                        <ul class="dropdown-submenu">
                            <li><a href="#">Outdoor table</a></li>
                        
                        </ul>
                    </li>
                    
                    <li class="sub-dropdown">
                        <a href="#">Outdoor Dining set</a>
                       
                    </li>
                    <li class="sub-dropdown">
                        <a href="#">Hammock</a>
                       
                    </li>
                    <li class="sub-dropdown">
                        <a href="#">Relax chair</a>
                       
                    </li>
                    <li class="sub-dropdown">
                        <a href="#">Swings</a>
                       
                    </li>
                 
                </ul>
            </li>
            <li><a href="#">Kitchens</a></li>
        </ul>
    </nav>
    <div class="icons">
        <a href="#"><i class="fa-solid fa-magnifying-glass"></i></a>
        <a href="#"><i class="fa-regular fa-circle-user"></i></a>
        <a href="#"><i class="fa-regular fa-heart"></i></a>
        <a href="#"><i class="fa-solid fa-cart-shopping"></i></a>
    </div>
</header>
    
    
    <img src="assets/CASH BACK.jpg" alt="">
    
</body>
</html>



