<h1>hiii</h1>
<nav class="navbar navbar-expand-lg bg-body-tertiary upper-nav">
    <div class="container-fluid">
        <div class="start-icons">
            <a href="#"><i class="fa-sharp fa fa-phone"></i></a>
            <span>15135</span>
            <span class="icon-spacing"></span>
            <a href="#"><i class="fa fa-location-dot"></i></a>
            <span>{{'header.stores' | translate}}</span>
        </div>
        <div class="header-text">
            <li>
                <a class="localization-btn" href="#" role="button" (click)="toggleLanguage('ar')"
                [style.display]="lang == 'ar' ? 'none' : 'block'"> 
                    {{ 'header.' + (lang === 'en' ? 'arabic' : 'english') | translate }}
                </a>
                <a class="localization-btn" href="#" role="button" (click)="toggleLanguage('en')"
                [style.display]="lang == 'ar' ? 'block' : 'none'"> 
                    {{ 'header.' + (lang === 'ar' ? 'english' : 'arabic') | translate }}
                </a>
            </li>
            
        </div>
    </div>
</nav>

<nav class="navbar navbar-expand-lg bg-body-tertiary lower-nav">
    <div class="container-fluid">
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown"
            aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="logo" [style.display]="lang == 'ar' ? 'none' : 'block'">
            <a href="#"><img class = "logoImage" src="./assets/Images/body/logo.png" alt="Logo"></a>
        </div>

        <div class="logo">
            <a href="#" [style.display]="lang == 'en' ? 'none' : 'block'"><img
                class = "logoImage" src="./assets/Images/body/logo-Arabic.png" alt="Logo"></a>
        </div>

        <div class="collapse navbar-collapse " id="navbarNavDropdown">
            <ul class="navbar-nav mx-auto ">
                @for (item of categorySetsAndItemsTypesData; track $index) {
                <li class="nav-item dropdown dropdown-lower-nav">
                    <a class="nav-link" href="#" role="button" data-bs-toggle="dropdown"
                        aria-expanded="false" 
                        routerLink='/products/categories/sets' [queryParams]="{ categoryId: item.id }">
                        {{item.name |capitalizeSpace}}
                    </a>
                    <ul class="dropdown-menu">
                        
                        <li class="sub-dropdown">
                            <!-- Living Room Set -->
                            <a class="dropdown-item" routerLink='/products/categories/sets' [queryParams]="{ categoryId: item.id }">{{item.name |
                                capitalizeSpace}}
                                {{'header.set' | translate}}</a>
    
                            <ul class="dropdown-submenu">
                                <!-- Sets -->
                                @for (set of item.categorySetsTypes; track $index) {
                                <li><a [routerLink]="['/products/categories/sets', set.id]" [queryParams]="{ categoryId: item.id }">{{set.name}}</a></li>
                                }
                            </ul>
                        </li>

                        <li class="sub-dropdown">
                            <!-- shop by item -->
                            <a class="dropdown-item" routerLink='/products/categories/items' [queryParams]="{ categoryId: item.id }">{{
                                'header.item' | translate
                            }}</a>
                            <ul class="dropdown-submenu">
                                @for (iitem of item.categoryItemsTypes; track $index) {
                                <li><a [routerLink]="['/products/categories/items', iitem.id]" [queryParams]="{ categoryId: item.id }">{{iitem.name}}</a></li>
                                }
    
                            </ul>
                        </li>
                    </ul>
                </li>
                }
            </ul>
        </div>

        <div class="icons">

            <i class="fa-solid fa-magnifying-glass me-2" (click)="toggleSeachDisplay()"></i>
            <div class="dropdown me-0">
                <a ><i class="fa-regular fa-circle-user "></i></a>
                <div class="dropdown-content text-nowrap ">
                    <ul>
                        <li><a class="m-0 p-2 ps-3" [routerLink]="['/account']">{{'header.myAccout' | translate}}</a></li>
                        <li><a class="m-0 p-2 ps-3" [routerLink]="['/register']">{{'header.CreateAccount' | translate}}</a></li>
                        <li class=" border-bottom-0"><a class="m-0 p-0 ps-3" [routerLink]="['/login']" [style.display]="!isUserLogged ? 'block' : 'none'"  >{{'header.signIn' | translate}}</a></li>
                        <li class=" border-bottom-0 m-0 p-0"><a class="m-0 p-0 ps-3" (click)="logout()" [style.display]="isUserLogged ? 'block' : 'none'" type="button">{{'header.logout' | translate}}</a></li>
                    </ul>
                </div>
            </div>
    
            <a routerLink="/basket" class="position-relative">
                <i class="fa-solid fa-cart-shopping"></i>
                @if(isUserLogged){
                <span class="badge bg-info cart-count">{{basketCount}}</span>
                }
            </a>
        </div>
    </div>
</nav>

<div [style.display]="SeachBarDispaly? 'block' : 'none'">
    <app-search ></app-search>
</div>
