<link rel="stylesheet" href="account-information.component.css">
<div class="sidebar">
    <div class="account-navigation ">
      <h2><span>Account</span> Navigation</h2>
      <ul>
        <li><a [routerLink]="['/account']">My Account</a></li>
        <li><a [routerLink]="['/orders']" class="my-order">My Orders</a></li>
        <li><a [routerLink]="['/wishList']" class="my-wish-list">My Wish List</a></li>
        <li><a [routerLink]="['/address']">Address Book</a></li>
        <li><a [routerLink]="['/info']" class="Account-Information" >Account Information</a></li>
        <li><a [routerLink]="['/gdpr']" class="GDPR">GDPR</a></li>
        <li><a [routerLink]="['/revimyReviewsew']">My Product Reviews</a></li>
        <li><a [routerLink]="['/mewsLetter']" class="Newsletter-Subscriptions">Newsletter Subscriptions</a></li>
      </ul>
      <h2><span>Compare</span> Products</h2>
      <p>You have no items to compare.</p>
      <h2><span>My Wish</span> List</h2>
      <p>You have no items in your wish list.</p>
    </div>
  </div>
<div class="main-content">
    <div class="data-access-section">
        <h2>ACCOUNT INFORMATION</h2>
        <div class="row">
            <input type="text" class="form-control" placeholder="First name" aria-label="First name">
            <input type="text" class="form-control" placeholder="Last name" aria-label="Last name">
        </div>
        <div>
            <input type="checkbox" [(ngModel)]="editEmail">Change Email
        </div>
        @if(editEmail){
        <div>
            <form (ngSubmit)="updateEmail()">
                <input type="email" class="form-control" placeholder="Email" aria-label="Email">
                <input type="password" class="form-control" placeholder="Password" aria-label="Password">
                <button type="submit">Save Email</button>
            </form>
        </div>
      }
        <div>
            <input type="checkbox" [(ngModel)]="editPassword">Change Password
        </div>
        @if(editPassword){
        <div>
            <form (ngSubmit)="updatePassword()">
                <input type="password" class="form-control" placeholder="Current Password" aria-label="Current Password">
                <input type="password" class="form-control" placeholder="New Password" aria-label="New Password">
                <input type="password" class="form-control" placeholder="Confirm Password" aria-label="Confirm Password">
                <button type="submit">Save Password</button>
            </form>
        </div>
      }
    </div>
    <div class="button-container">  
      <button>save</button>
      <button [routerLink]="['/home']">back</button>
    </div>
  </div>

