<div class="parent-container">
    <div class="order-container row gap-5">
        @if(!isAlertDisplayed && orders != null){
        @for (order of orders; track $index;) {
        @if(order.status !== 'Pending' && order.status !== 'Cancelled'){
        <div class="order-card col-sm-6
                        col-md-4 col-lg-3 col-xl-2">
            <div class="order-info">
                <img src="./assets/Images/box.png" alt="order box logo">
                <h1>{{'orders.Order' | translate}} #{{order.id}}</h1>
                <p class="order-status">{{order.status}}</p>
                <p class="order-date">{{'orders.Date' | translate}} : {{getDate(order)}}</p>
                <p class="order-time">{{'orders.Time' | translate}} : {{getTime(order)}}</p>
                <p class="order-total">{{'orders.Total' | translate}} = {{order.total}} EGP</p>
                <button routerLink="/order/details/{{order.id}}">{{'orders.Details' | translate}}</button>
            </div>
        </div>
        }
        }
        }@else {
        <div class="alert alert-warning" role="alert">
            {{'orders.noOrders' | translate}}
        </div>
        }
    </div>
</div>
