.search-container {
    display: flex;
    justify-content: center;
}

.ecommerce-search {
    display: flex;
    align-items: center;
    background-color: #fff;
    border: 1px solid #ccc; 
    border-radius: 20px; 
    padding: 8px; 
    width: 50%;
}

.ecommerce-search input[type="search"] {
    flex: 1;
    border: none;
    outline: none;
    font-size: 16px; 
}

.ecommerce-search button {
    background-color: transparent;
    border: none;
    cursor: pointer;
}


.ecommerce-search i {
    color: #888;
    font-size: 20px;
}
