<div class="search-container">
      
    <form class="ecommerce-search" (ngSubmit)="onSearch($event)">
        <div class="dropdown">
            <button class="btn btn-secondary dropdown-toggle button-dropdown" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
              {{selectedType}}
            </button>
            <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
              <li><button class="dropdown-item" (click)="selectSet()">{{'search.sets' | translate}}</button></li>
              <li><button class="dropdown-item" (click)="selectItem()">{{'search.items' | translate}}</button></li>
            </ul>
          </div>
        <input type="search" name="query" [placeholder]="'search.searchfor' | translate" >
        <button type="submit">
            <i class="fas fa-search"></i>
        </button>
    </form>
</div>


  
