<link rel="stylesheet" href="my-product-reviews.component.css">
<div class="sidebar">
    <div class="account-navigation">
      <h2><span>Account</span> Navigation</h2>
      <ul>
        <li><a [routerLink]="['/account']">My Account</a></li>
        <li><a [routerLink]="['/orders']" class="my-order">My Orders</a></li>
        <li><a [routerLink]="['/wishList']" class="my-wish-list">My Wish List</a></li>
        <li><a [routerLink]="['/address']" >Address Book</a></li>
        <li><a [routerLink]="['/info']">Account Information</a></li>
        <li><a [routerLink]="['/gdpr']">GDPR</a></li>
        <li><a [routerLink]="['/myReviews']">My Product Reviews</a></li>
        <li><a [routerLink]="['/mewsLetter']">Newsletter Subscriptions</a></li>
      </ul>
      <h2><span>Compare</span> Products</h2>
      <p>You have no items to compare.</p>
      <h2><span>My Wish</span> List</h2>
      <p>You have no items in your wish list.</p>
    </div>
  </div>
  <div class="main-content">
    <!-- Main content goes here -->
    <div class="button-container">
        
      <button>Back</button>
    </div>
  </div>