.Shipping-Address {
  height: 550px;
}

.Shipping-Methods{
  height: 300px;
}

.container {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  margin-top: 50px;
  color: #20284f;
}

.form-container {
  flex: 1 1 calc(25% - 20px);
  border: 1px solid #ccc;
  padding: 20px;
  box-sizing: border-box;

}


.form-container:nth-child(1),
.form-container:nth-child(4) {
  flex: 1 1 calc(25% - 20px);
}

.form-container h2 {
  margin-top: 0;
}

.form-container label {
  display: block;
  margin: 5px 0;
}

.Shipping-Address input,
.Shipping-Address select {
  margin-bottom: 5px !important;
}


.form-container input[type="text"],
.form-container input[type="email"],
.form-container input[type="tel"],
.form-container select,
.form-container textarea {
  width: calc(100% - 12px);
  margin-bottom: 10px;
  box-sizing: border-box;
  height: 30px;
}

.form-container input[type="radio"] {
  height: 15px;
}


.form-container input[type="checkbox"] {
  width: 15px;
  height: 15px;
}

.radio-container .deliveryMethod {
  display: flex;
  align-items: center;
}

.radio-container .deliveryMethod label {
  cursor: pointer;
}


.form-container .checkbox-container label,
.radio-container .deliveryMethod label {
  margin-left: 5px;
}

.Discount-btn {
  background-color: #20284f;
  color: white;
  border-radius: 20px;
  border: #20284f;
  height: 20px;
  width: 100px;
  font-size: 12px;
}

.place-older {
  background-color: brown;
  color: white;
  border-radius: 20px;
  padding: 10px 70px;
  border: brown;
  margin: 50px 0 0 100px;
}

.complete-order-button-container{
  display: flex;
  justify-content: center;
}
.complete-order-button-container button{
  margin: 15px auto;
}

.Last-form {
  margin-bottom: 5%;
}

.checkbox-container {
  display: flex;
}

#discount_code,
#order_comment,
#delivery_comment {
  width: 50%;
}

.form-control:focus {
  box-shadow: 10px 0px 0px 0px #ffffff !important;
  border-color: #4ca746;
}

.wrapper-container {
  margin-top: 1%;
}

.wrapper {
  padding: 7px 5px;
  width: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 40px;
  border: 1px solid black;
}

.wrapper span {
  width: 100%;
  text-align: center;
  font-size: 17px;
  font-weight: 500;
  cursor: pointer;
}

.wrapper span.num {
  border-right: 2px solid rgba(0, 0, 0, 0.2);
  border-left: 2px solid rgba(0, 0, 0, 0.2);
  pointer-events: none;
}

.cart-item-container {
  height: 90px;
  margin-bottom: 10px;
}

.cart-item-container img {
  height: inherit;
}

.cart-item-container .cart-itemDetails-container {
  height: inherit;
}

.cart-item-container .cart-itemDetails-container p {
  margin-bottom: 0;
}

.cart-item-container .cart-itemDetails-container>* {
  padding-left: 0;
}


.basket-subTotal,
.basket-deliveryCost,
.basket-OrderCost {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.basket-subTotal p,
.basket-deliveryCost p,
.basket-OrderCost p {
  font-size: 17px;
  font-weight: 700;
}

.basket-OrderCost h3 {
  font-size: 20px;
}