<link rel="stylesheet" href="checkout.component.css">
<div class="container">
    <!-- Form 1: Shipping Address -->
    <div class="form-container Shipping-Address col-4 ">
        <form [formGroup]="shippingAddressForm">
            <h2>{{'checkout.ShippingAddress' | translate}}</h2>
            <hr>

            <label for="firstName">{{'checkout.FirstName' | translate}} <span style="color: red;">*</span></label>
            <input type="text" id="firstName" formControlName="firstName">
            @if(shippingAddressForm.get('firstName')?.invalid && shippingAddressForm.get('firstName')?.touched){
            @if(shippingAddressForm.get('firstName')?.hasError('required')){
            <div style="color: red;">{{'checkout.Firstnameisrequired' | translate}}.</div>
            }
            @else if (shippingAddressForm.get('firstName')?.hasError('minlength')) {
            <div style="color: red;">{{'checkout.First2characterslong' | translate}}</div>
            }
            @else if (shippingAddressForm.get('firstName')?.hasError('pattern')) {
            <div style="color: red;">{{'checkout.Firstnameonlyletters' | translate}}.</div>
            }
            }


            <label for="lastName">{{'checkout.LastName' | translate}} <span style="color: red;">*</span></label>
            <input type="text" id="lastName" formControlName="lastName">
            @if(shippingAddressForm.get('lastName')?.invalid && shippingAddressForm.get('lastName')?.touched){
            @if(shippingAddressForm.get('lastName')?.hasError('required')){
            <div style="color: red;">{{'checkout.Lastnameisrequired' | translate}}</div>
            }
            @else if (shippingAddressForm.get('lastName')?.hasError('minlength')) {
            <div style="color: red;">{{'checkout.Last2characterslong' | translate}}</div>
            }
            @else if (shippingAddressForm.get('lastName')?.hasError('pattern')) {
            <div style="color: red;">{{'checkout.Lastnameonlyletters' | translate}}</div>
            }
            }



            <label for="street">{{'checkout.StreetAddress' | translate}}<span style="color: red;">*</span></label>
            <input type="text" id="street" formControlName="street">
            @if(shippingAddressForm.get('street')?.invalid && shippingAddressForm.get('street')?.touched){
            @if(shippingAddressForm.get('street')?.hasError('required')){
            <div style="color: red;">{{'checkout.Streetaddressrequired' | translate}}</div>
            }
            }


            <label for="city">{{'checkout.City' | translate}} <span style="color: red;">*</span></label>
            <input type="text" id="city" formControlName="city">
            @if(shippingAddressForm.get('city')?.invalid && shippingAddressForm.get('city')?.touched){
            @if(shippingAddressForm.get('city')?.hasError('required')){
            <div style="color: red;">{{'checkout.Cityrequired' | translate}}</div>
            }
            @else if(shippingAddressForm.get('city')?.hasError('pattern')){
            <div style="color: red;">{{'checkout.Cityonlyletters' | translate}}</div>
            }
            }




            <label for="country">{{'checkout.Country' | translate}} <span style="color: red;">*</span></label>
            <select id="country" formControlName="country">
                <option value="">{{'checkout.SelectCountry' | translate}}</option>
                <option value="Egypt">{{'checkout.Egypt' | translate}}</option>
                <option value="Qena">{{'checkout.Qena' | translate}}</option>
                <option value="Assuit">{{'checkout.Assuit' | translate}}</option>
            </select>
            @if(shippingAddressForm.get('country')?.invalid && shippingAddressForm.get('country')?.touched){
            @if(shippingAddressForm.get('country')?.hasError('required')){
            <div style="color: red;">{{'checkout.Countryrequired' | translate}}</div>
            }
            }
        </form>
    </div>

    <!-- Form 2: Shipping Methods -->
    <div class="col-4 bg-light p-3 border Shipping-Methods">
        <div class="form-container ">
            <form [formGroup]="deliveryMethodsForm">
                <h2>{{'checkout.ShippingMethods' | translate}}</h2>
                <hr>
                <div class="radio-container">
                    @for (deliveryMethod of deliveryMethods; track $index) {
                    <div class="deliveryMethod">
                        <input type="radio" [id]="deliveryMethod.id" formControlName="shipping_method"
                            [value]="deliveryMethod.id" style="transform: scale(0.6);"
                            (click)="updateDeliveryMethod($event)">
                        <div class="radio-labels-container">
                            <label [for]="deliveryMethod.id">
                                {{deliveryMethod.name}} -
                                {{deliveryMethod.cost}} EGP
                                ({{deliveryMethod.deliveryTime}}) -
                                {{deliveryMethod.description}}
                            </label>
                        </div>
                    </div>
                    }
                </div>
                @if(deliveryMethodsForm.get('shipping_method')?.invalid &&
                deliveryMethodsForm.get('shipping_method')?.touched){
                @if(deliveryMethodsForm.get('shipping_method')?.hasError('required')){
                <div style="color: red;">{{'checkout.Deliverymethodrequired' | translate}}</div>
                }
                }
            </form>
        </div>
    </div>

    <!-- Form 4: Order Summary -->
    <div class="form-container order-summary col-4">
        <h2>{{'checkout.OrderSummary'| translate}}</h2>
        <hr>

        <section class="basketItems-section">
            <h3 style="color: #1A2854; font-weight: 500;">{{'checkout.BasketItems' | translate}}</h3>
            <hr>
            <div class="cart-items-container">

                @for (item of basket?.basketItems; track $index) {
                <div class="cart-item-container row">
                    <img class="col-3" [src]="item.productPictureUrl" alt="">
                    <div class="cart-itemDetails-container row col-9">
                        <p>{{item.productName}}</p>
                        <p>{{item.productPrice * (item.productDiscount === 0 ? 1 : 1 - (item.productDiscount / 100)) |
                            number}}
                            EGP</p>
                        <div class="wrapper-container">
                            <div class="wrapper">
                                <span class="minus unselectable" (click)="decrementCounter(item)">-</span>
                                <span class="num unselectable">{{item.productQuantity | numberPad}}</span>
                                <span class="plus unselectable" (click)="incrementCounter(item)">+</span>
                            </div>
                        </div>
                    </div>
                </div>
                }
            </div>
        </section>

        <hr>

        <section class="basket-subTotal">
            <h3 style="color: #1A2854; font-weight: 500;">{{'checkout.CARTSUBTOTAL' | translate}}</h3>
            <p>EGP {{basketSubTotal | number}}</p>
        </section>
        <hr>
        <section class="basket-deliveryCost">
            <h3 style="color: #1A2854; font-weight: 500;">{{'checkout.DELIVERYCOST' | translate}}</h3>
            <p>EGP {{basket?.shippingPrice}}</p>
        </section>
        <hr>
        <section class="basket-OrderCost">
            <h3 style="color: #1A2854; font-weight: 500;">{{'checkout.ORDERCOST' | translate}}</h3>
            <p>EGP {{basketSubTotal + shippingCost | number}}</p>
        </section>

        <div class="complete-order-button-container">
            <button type="button" class="place-older" (click)="validateForms()">{{'checkout.PLACEORDER' | translate}}
            <i class="fa-solid fa-spinner"></i></button>
        </div>
    </div>
</div>
